header{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.search-row{
  display: flex;
  justify-content: space-between;
  padding: 20px;

}
.countries-container{
  gap: 20px;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px (0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
