header{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.search-row{
  display: flex;
  justify-content: space-between;
  padding: 20px;

}
.countries-container{
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
}